{% extends 'base.html' %}

{% block body_id %}purchase_edit{% endblock %}

{% block title %}Purchase Edit{% endblock title %}
{% block controller %}ng-controller="InventoryPurchaseController" ng-init="init('{{csrf_token}}', '{{invoice_number}}')"{% endblock controller %}

{% block dialogue_popup %}
	{% include 'popup/add_new_supplier.html' %} 
	{% include 'popup/add_new_company.html' %}    
	{% include 'popup/add_item.html' %}                	
{% endblock %}

{% block content %}
	<div id="main-title">
		<div class="alert alert-info" align="Center"><h4>Edit Purchase</h4></div>
	</div>
	<div class="purchase_form_container">
		<form name="purchase_entry" method="post">
			<div class="form_contents_purchase">
				<div class="section_1_purchase">
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="purchase_invoice_number">Purchase Invoice Number</label>
						</div>
						<div class="forminput">
							<input type="text" name="purchase_invoice_number" ng-model="purchase.purchase_invoice_number"  ng-change="get_purchase_details()"/>
							<p> Please enter invoice number to load details </p> 
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="supplier_invoice_number">Supplier Invoice Number </label>
						</div>
						<div class="forminput">
							<input type="text" name="supplier_invoice_number"  ng-model="purchase.supplier_invoice_number" />
						</div>
					</div>

					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="supplier_do_number">Supplier DO Number</label>
						</div>
						<div class="forminput">
							<input type="text" name="supplier_do_number" ng-model="purchase.supplier_do_number" />
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="supplier_invoice_date">Supplier Invoice Date</label>
						</div>
						<div class="forminput">
							<input type="text" name="supplier_invoice_date" ng-model="purchase.supplier_invoice_date" id="supplier_invoice_date" >
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="purchase_invoice_date">Purchase Invoice Date</label>
						</div>
						<div class="forminput">
							<input type="text" name="purchase_invoice_date" ng-model="purchase.purchase_invoice_date" id="purchase_invoice_date"/>
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="supplier">Supplier</label>
						</div>
						<div class="forminput">
							<select name="supplier" ng-model="purchase.supplier_name" ng-options="supplier.supplier_name as supplier.supplier_name for supplier in suppliers" ng-selected="supplier.supplier_name == purchase.supplier_name" ng-change="add_supplier()">
								<option value="">Select</option>
							</select>
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="transport">Transport</label>
						</div>
						<div class="forminput">
							<select name="transport" ng-model="purchase.transport" ng-change="add_transport()" ng-options="company.company_name as company.company_name for company in companies" ng-selected="purchase.transport == company.company_name">
								<option value="">Select</option>
							</select>
						</div>
					</div>
					
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="payment_mode">Payment Mode</label>
						</div>
						
						<div class="forminput" id="radio_input">
							<input type="radio" name="payment_mode" ng-model="purchase.payment_mode" value="cash" ng-change="payment_mode_change_purchase('cash')"><label>Cash</label>
							<input type="radio" name="payment_mode" ng-model="purchase.payment_mode" value="cheque" ng-change="payment_mode_change_purchase('cheque')"><label>Cheque</label>
							<input type="radio" name="payment_mode" ng-model="purchase.payment_mode" value="credit" ng-change="payment_mode_change_purchase('credit')"><label>Credit</label>
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="bank_name">Bank name</label>
						</div>
						
						<div class="forminput" id="radio_input">
							<input type="text" name="bank_name" ng-model="purchase.bank_name" ng-readonly="payment_cheque"/>
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="cheque_no">Cheque No</label>
						</div>
						
						<div class="forminput" id="radio_input">
							<input type="text" name="cheque_no" ng-model="purchase.cheque_no" ng-readonly="payment_cheque"/>
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="cheque_date">Cheque Date</label>
						</div>
						
						<div class="forminput" id="radio_input">
							<input type="text" name="cheque_date" id="cheque_date" ng-model="purchase.cheque_date" ng-readonly="payment_cheque"/>
						</div>
					</div>
				</div>
   				<div class="purchase_items_list" ng-show="purchase.purchase_items.length > 0">
   					<div class="purchase_item_list">
   						<div class="item_list_row header">
							<span class="small_column"> Item Code </span>
							<span> Item name </span>
							<span> Current Stock </span>
							<span> Unit Price </span>
							<span> Qty purchased </span>
							<span> Cost Price </span>
							<span> Selling Price</span>	
							<span> Net Amount </span>
							<span> &nbsp; </span>
						</div>
						<div ng-repeat="item in purchase.purchase_items" class="item_list_row">
							<span class="small_column">[[item.item_code]] </span>
							<span>[[item.item_name]] </span>
							<span>[[item.current_stock]] </span>
							<span> <input type="text" ng-model="item.unit_price" ng-change="calculate_cost_price(item)" /> </span>			
							<span> <input type="text" ng-model="item.qty_purchased" ng-change="calculate_net_amount(item)" /> </span> 
							<span> [[item.cost_price]] </span>
							<span> <input type="text" ng-model="item.selling_price" ng-change="calculate_discount_amt(item)"/> </span>
							<span> [[item.net_amount]] </span>
							<span ng-click="remove_item_purchase_list(item)"> X </span>
						</div>
						<div class="clear"></div>
   					</div>
   					<div class="clear"></div>
   				</div>
   				<div class="clear"></div>
				<div class="section_1_purchase">
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="supplier_amout">Supplier Amount</label>
						</div>
						<div class="forminput">
							<input type="text" name="supplier_amount" ng-model="purchase.supplier_amount" readonly />
						</div>
						<div class="formtext_purchase">
							<label for="purchase_expense">Purchase Expense</label>
						</div>
						<div class="forminput">
							<input type="text" name="purchase_expense" ng-model="purchase.purchase_expense"  />
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="net_total">Net Total</label>
						</div>
						<div class="forminput">
							<input type="text" name="net_total" ng-model="purchase.net_total" ng-change="calculate_grant_total()" readonly/>
						</div>
					</div>

					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="discount">Discount</label>
						</div>
						<div class="forminput">
							<input type="text" name="discount" ng-model="purchase.discount" ng-change="calculate_discount_percentage()" />
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="discount">Discount Percentage</label>
						</div>
						<div class="forminput">
							<input type="text" name="discount_percentage" ng-model="purchase.discount_percentage" ng-change="calculate_discount_amount()"/>
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="grant_total">Grand Total</label>
						</div>
						<div class="forminput">
							<input type="text" name="grant_total" ng-model="purchase.grant_total" readonly />
						</div>
					</div>
				</div>
			</div>
			<div  align="Center">
				<div class="buttons">
					<p class="error_message"> [[validation_error]] </p>
					<input type="button" value="Submit" ng-click="save_purchase();" class="btn btn-info">
					<a href="{% url 'home' %}"><input type="button" value="Cancel" class="btn btn-info"></a>
				</div>
			</div>			
		</form>
		<div class="clear"></div>
	</div>

{% endblock content %}