{% extends 'base.html' %}

{% block body_id %}print_delivery_note{% endblock %}

{% block title %}Print Delivery Note{% endblock title %}
{% block controller %}ng-controller="PrintDeliveryNoteController" ng-init="init('{{csrf_token}}', '{{delivery_no}}')"{% endblock controller %}

{% block content %}

	<div id="main-title">
		<div class="alert alert-info" align="Center"><h4>Print Delivery Note</h4></div>
	</div>

	<div class="sales_form_container">
		<form name="sales_entry" method="post">
			<div class="form_contents_sales">
				<div class="section_1_sales">
					<div class="formrow_sales">
						<div class="formtext_sales">
							<label for="customer">Delivery No</label>
						</div>

						<div class="forminput_sales">
							<input type='text' id="delivery_no" ng-model="dn_no" ng-change="get_delivery_note_details()"/>
							<p class="error_message"> [[dn_message]] </p>
						</div>
						
					</div>
					<div class="formrow_sales">
						<div class="formtext_sales	">
							<label for="Date ">Date </label>
						</div>

						<div class="forminput_sales">
							
							<input type="text" name="delivery_note_date"  id="delivery_note_date" ng-model="delivery_note.date" readonly>
						</div>
					</div>
					<div class="formrow_sales">
						<div class="formtext_sales">
							<label for="project">Project Name</label>
						</div>
						<div class="forminput_sales">
							<input type="text" name="project" ng-model="delivery_note.project_name" readonly>
						</div>
					</div>
					<div class="formrow_sales">
						<div class="formtext_sales">
							<label for="customer">Customer Name</label>
						</div>
						<div class="forminput_sales">
							<input type="text" name="customer" ng-model="delivery_note.customer" readonly>
						</div>
					</div>

					
					<div class="formrow_sales">
						<div class="formtext_sales">
							<label for="delivery_no">LPO No </label>
						</div>
						<div class="forminput_sales">
							<input type="text" name="lpo_no" id="lpo_no" value="" ng-model="delivery_note.lpo_no" readonly/>
						</div>
					</div>	

				</div>	

   				<div class="purchase_items_list" ng-show="delivery_note.sales_items.length > 0">
   					<div class="purchase_item_list">
   						
   						<div class="item_list_row header">
   							<span>Sl No.</span>
							<span class="small_column"> Item Code </span>
							<span> Item Name </span>
							<span> Current Stock </span>
							<span> Unit Price </span>
							<span> Qty  </span>		
							<span> Net Amount </span>
						</div>
						<div ng-repeat="item in delivery_note.sales_items" class="item_list_row">
							<span>[[item.sl_no]]</span>
							<span class="small_column">[[item.code]] </span>
							<span>[[item.name]] </span>
							<span>[[item.current_stock]] </span>
							<span>[[item.unit_price]]</span>
							<span> [[item.qty_sold]] </span> 
							
							<span>[[item.net_amount]] </span>
						</div>
						
						<div class="clear"></div>
   					</div>
   					<div class="clear"></div>
   				</div>

   				<div class="section_1_sales">
   					<div class="formrow_sales">
		   				<div class="formtext_sales">
							<label for="net_total">Net Total</label>
						</div>
						<div class="forminput_sales">
							<input type="text" name="net_total" ng-model="delivery_note.net_total" readonly/ >
						</div>
					</div>
	   				
	   				<div class="clear"></div>
	   			</div>

				
			</div>
			<div  align="Center">
				<div class="buttons">
					<p class="error_message"> [[validation_error]] </p>
					<input type="button" value="Print" ng-click="print_delivery_note();">
					<a href="{% url 'home' %}"><input type="button" value="Cancel"></a>
				</div>
			</div>			
		</form>
		<div class="clear"></div>
	</div>

{% endblock content %}
