{% extends 'base.html' %}

{% block body_id %}direct_delivery_note{% endblock %}

{% block title %}Project Delivery Note{% endblock title %}
{% block controller %}ng-controller="ProjectDeliveryNoteController" ng-init="init('{{csrf_token}}', '{{delivery_no}}')"{% endblock controller %}

{% block dialogue_popup %}
	{% include 'popup/add_new_customer.html' %}          	
{% endblock %}

{% block content %}

<div id="main-title">
		<div class="alert alert-info" align="Center"><h4>Project Based Delivery Note</h4></div>
	</div>

	<div class="sales_form_container">
		<form name="direct_delivery_note" method="post">
			<div class="form_contents_sales">
				<div class="section_1_sales">
					<div class="formrow_sales">
						<div class="formtext_sales	">
							<label for="Date ">Date </label>
						</div>

						<div class="forminput_sales">
							
							<input type="text" name="delivery_date"  id="delivery_date" value="{{current_date}}" >
						</div>
					</div>

					<div class="formrow_sales">
						<div class="formtext_sales">
							<label for="delivery_no">Delivery Note No </label>
						</div>
						<div class="forminput_sales">
							<input type="text" name="delivery_note_no" id="delivery_note_no" value="{{delivery_no}}" ng-model="delivery_note.delivery_note_number" ng-change="is_delivery_note_exists()" / >
							<p class="error_message">[[existance_message]]</p>
						</div>
					</div>	

					<div class="formrow_sales">
						<div class="formtext_sales">
							<label for="customer">Customer Name</label>
						</div>
						<div class="forminput_sales">
							<select name="customer" ng-model="customer" ng-change="add_customer()" >
								<option value="select">Select</option>
								<option ng-repeat="custmer in customers" value="[[custmer.customer_name]]" ng-selected="custmer.customer_name == customer">[[custmer.customer_name]]
								</option>
								<option value="other">Other</option>
							</select>							
						</div>
					</div>

					<div class="formrow_sales">
						<div class="formtext_sales">
							<label for="delivery_no">LPO No </label>
						</div>
						<div class="forminput_sales">
							<input type="text" name="lpo_no" ng-model="delivery_note.lpo_no" id="lpo_no" value="" / >
						</div>
					</div>	
		
					<div class="formrow_sales">
						<div class="formtext_sales">
							<label for="project">Project</label>
						</div>
						<div class="forminput_sales">
							<select name="project_id" ng-model="delivery_note.project_id">
								<option value="select">Select</option>
								<option ng-repeat="project in projects" value="[[project.id]]" ng-selected="project.name == delivery_note.project_id">[[project.name]]</option>
							</select>
						</div>
					</div>
					<div class="formrow_sales">
						<div class="formtext_sales">
							<label for="delivery_no">Net Total </label>
						</div>
						<div class="forminput_sales">
							<input type="text" name="delivery_note_no" ng-model="delivery_note.net_total" value="" readonly / >
						</div>
					</div>

				</div>

				<div class="section_3_sales">
					<div class="search_purchase">
						<div class="control">
							<label> Item Code </label>
   							<input type='text' id="item_code" ng-model="item_code" ng-change="get_items('item_code')"/>
   						</div>
   						<div class="control">
   							<label> Item name </label>
   							<input type="text" id='item_name' ng-model="item_name" ng-change="get_items('item_name')"/>
   						</div>
   						<div class="clear"></div>
	   					<div class="item_list" ng-show='selecting_item && items.length > 0' ng-hide="item_selected">
							<div class="item_list_row header" ng-show="items.length > 0">
								<span> Item Code </span>
								<span> Item name </span>
							</div>
							<div ng-repeat="item in items" ng-click="add_item_to_list(item)" class="item_list_row">
								<span>[[item.code]]</span>
								<span>[[item.name]]</span>
							</div>
							<div class="clear"></div>
						</div>
						
    				</div>
    				<div class="clear"></div>
    				<p class="error_message"> [[item_select_error]] </p>
   				</div>

				<div class="section_3_sales">
					<div class="search_purchase">
						<div class="control">
							<label> Service Charge Code </label>
   							<input type='text' id="item_code" ng-model="sc_item_code" ng-change="get_service_charge('item_code')"/>
   						</div>
   						<div class="control">
   							<label> Service Charge name </label>
   							<input type="text" id='item_name' ng-model="sc_item_name" ng-change="get_service_charge('item_name')"/>
   						</div>
   						<div class="clear"></div>
	   					<div class="item_list" ng-show='sc_selecting_item && sc_items.length > 0' ng-hide="sc_item_selected">
							<div class="item_list_row header" ng-show="sc_items.length > 0">
								<span> Item Code </span>
								<span> Item name </span>
							</div>
							<div ng-repeat="item in sc_items" ng-click="add_sc_item(item)" class="item_list_row">
								<span>[[item.code]]</span>
								<span>[[item.name]]</span>
							</div>
							<div class="clear"></div>
						</div>
						
    				</div>
    				<div class="clear"></div>
    				<p class="error_message"> [[sc_item_select_error]] </p>
   				</div>	

   				<div class="purchase_items_list" ng-show="delivery_note.sales_items.length > 0">
   					<div class="purchase_item_list">
   						
   						<div class="item_list_row header">
							<span class="small_column"> Item Code </span>
							<span> Item Name </span>
							<span> Stock </span>
							<span> Unit Price </span>
							<span> Qty  </span>	
							<span> Net Amount </span>
							<span> &nbsp;&nbsp; </span>
						</div>
						<div ng-repeat="item in delivery_note.sales_items" class="item_list_row">
							<span class="small_column">[[item.item_code]] </span>
							<span>[[item.item_name]] </span>
							<span>[[item.current_stock]] </span>
							<span><input type="text" ng-model="item.unit_price" ng-change="calculate_net_amount_sale(item)"/></span>
							<span> <input type="text" ng-model="item.qty_sold" ng-change="calculate_net_amount_sale(item)" /> </span> 
							<span>[[item.net_amount]] </span>
							<span><a href="" ng-click="remove_from_item_list(item)">X</a> </span>
							
						</div>
						
						<div class="clear"></div>
   					</div>
   					<div class="clear"></div>
   					<p class="error_message">[[item_select_error]]</p>
   				</div>
   				
   				<div class="clear"></div>

				
			</div>
			<div  align="Center">
				<div class="buttons">
					<p class="error_message"> [[validation_error]] </p>
					<input type="button" value="Submit" ng-click="save_delivery_note();">
					<a href="{% url 'home' %}"><input type="button" value="Cancel"></a>
				</div>
			</div>			
		</form>
		<div class="clear"></div>
	</div>

{% endblock content %}

