<div style='display:none' id="create_project">
    <div id='add_new_item' style='padding:10px; background:#fff;'>
        <div class="sign_box">
            <div class="row-fluid">
                <div class="span12 sign_mid">
                    <span>
                        <form action="" id="register" name="register" method="post" class="reg_sec">
                            <div class="formrow">
                                <div class="formtext">
                                    <label for="name">Name</label>
                                </div>
                                <div class="forminput">  
                                    <input type="text" name="name" ng-model="project.name" />
                                </div>  
                            </div>
                            <div class="formrow">
                                <div class="formtext">
                                    <label for="starting_date">Start Date </label>
                                    
                                </div>
                                <div class="forminput">
                                    <input type="text" name="starting_date"  ng-model="project.start_date" id="start_date"/>
                                </div>  
                            </div>
                            <div class="formrow">
                                <div class="formtext">
                                    <label for="end_date">Expected End Date</label>
                                    
                                </div>
                                <div class="forminput">
                                    <input type="text" name="end_date" ng-model="project.end_date" id="end_date"/>
                                </div>  
                            </div>
                            <div class="formrow">
                                <div class="formtext">
                                    <label for="budget_amount">Budget Amount</label>
                                    
                                </div>
                                <div class="forminput">
                                    <input type="text" name="budget_amount" ng-model="project.budget_amount" id="budget_amount" >
                                </div>  
                            </div>
                            <div align="center">
                                <p class="error_message">[[validation_error]]</p>
                                <input name="submit" type="button" value="Add" ng-click="create_project()">
                                <input name="cancel" type="button" value="Cancel" ng-click="close_popup()">
                            </div>
                        </form>                        
                    </span>
                </div>
            </div>    
        </div>
        <div class="clearfix"></div>
    </div>
</div>