{% extends 'base.html' %}
{% block body_id %}add_item{% endblock %}
{% block title %}Add Item{% endblock title %}
{% block controller %}ng-controller="AddItemController" ng-init="init('{{csrf_token}}', '{{item_id}}')"{% endblock controller %}

{% block content %}
	<div id="main-title">
		<div class="alert alert-info" align="Center"><h4>Add Item</h4></div>
	</div>
	<div class="item_form_container">
		<form name="add_item" method="post">
			<div class="form_contents_item">
				<div class="section_1_item">
					<div class="formrow_item">
						<div class="formtext_item">
							<label for="name">Item Name</label>
						</div>
						<div class="forminput">
							<input type="text" name="name" ng-model="item.name" />
						</div>
					</div>
					<div class="formrow_item">
						<div class="formtext_item">
							<label for="code">Item Code</label>
						</div>
						<div class="forminput">
							<input type="text" name="code" ng-model="item.code" id="item_code" readonly/>
						</div>
					</div>
				</div>	
			</div>
			<div  align="Center">
				<div class="buttons">
					<p class="error_message"> [[validation_error]] </p>
					<input type="button" value="Submit" ng-click="edit_item();" class="btn btn-info">
					<a href="{% url 'home' %}"><input type="button" value="Cancel" class="btn btn-info"></a>
				</div>
			</div>			
		</form>
		<div class="clear"></div>
	</div>

{% endblock content %}