{% extends 'base.html' %}

{% block body_id %}add_stock{% endblock %}

{% block title %}Add Opening Stock{% endblock title %}
{% block controller %}ng-controller="AddOpeningStockController" ng-init="init('{{csrf_token}}')"{% endblock controller %}

{% block content %}
<div id="main-title">
		<div class="alert alert-info" align="Center"><h4>Add Opening Stock</h4></div>
	</div>

	<div class="purchase_form_container">
		<form name="opening_stock" method="post">
			<div class="form_contents_purchase">
				<div class="section_1_purchase">
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label> Item Code </label>
						</div>
						<div class="forminput">
							<input type='text' id="item_code" ng-model="item_code" ng-change="get_items('item_code')"/>
						</div>
						<div class="clear"></div>
						<div class="item_list stock_list" ng-show='selecting_item && items.length > 0' ng-hide="item_selected">
						
						<div ng-repeat="item in items" ng-click="add_item(item)" class="stock_list_row">
							<span>[[item.code]]</span>
		
						</div>
						<div class="clear"></div>
						</div>
   					</div>

					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="name">Quantity</label>
						</div>
						<div class="forminput">
							<input type="text" name="name" ng-model="openingstock.quantity" />
						</div>
					</div>

					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="name">Unit Price</label>
						</div>
						<div class="forminput">
							<input type="text" name="name" ng-model="openingstock.unit_price" />
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="name">Selling Price</label>
						</div>
						<div class="forminput">
							<input type="text" name="name" ng-model="openingstock.selling_price" />
						</div>
					</div>


				</div>	
			</div>
			<div  align="Center">
				<div class="buttons">
					<p class="error_message"> [[validation_error]] </p>
					<input type="button" value="Submit" ng-click="save_opening_stock();" class="btn btn-info">
					<a href="{% url 'home' %}"><input type="button" value="Cancel" class="btn btn-info"></a>
				</div>
			</div>			
		</form>
		<div class="clear"></div>
	</div>

{% endblock content %}