{% extends 'base.html' %}

{% block body_id %}create_project{% endblock %}

{% block title %}Create Project{% endblock title %}
{% block controller %}ng-controller="CreateProjectController" ng-init="init('{{csrf_token}}', '{{project.id}}')"{% endblock controller %}

{% block content %}

	<div id="main-title">
		<div class="alert alert-info" align="Center"><h4>Create Project</h4></div>
	</div>

	<div class="purchase_form_container">
		<form name="purchase_entry" method="post">
			<div class="form_contents_purchase">
				<div class="section_1_purchase">
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="name">Name</label>
						</div>
						<div class="forminput">
							<input type="text" name="name" ng-model="project.name" />
						</div>
					</div>


					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="starting_date">Start Date </label>
						</div>
						<div class="forminput">
							<input type="text" name="starting_date"  ng-model="project.start_date" id="start_date"/>
						</div>
					</div>

					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="end_date">Expected End Date</label>
						</div>
						<div class="forminput">
							<input type="text" name="end_date" ng-model="project.end_date" id="end_date"/>
						</div>
					</div>
					<div class="formrow_purchase">
						<div class="formtext_purchase">
							<label for="budget_amount">Budget Amount</label>
						</div>
						<div class="forminput">
							<input type="text" name="budget_amount" ng-model="project.budget_amount" id="budget_amount" >
						</div>
					</div>
					

				</div>	
			</div>
			<div  align="Center">
				<div class="buttons">
					<p class="error_message"> [[validation_error]] </p>
					<input type="button" value="Submit" ng-click="create_project();" class="btn btn-info">
					<a href="{% url 'home' %}"><input type="button" value="Cancel" class="btn btn-info"></a>
				</div>
			</div>			
		</form>
		<div class="clear"></div>
	</div>

{% endblock content %}