{% extends 'base.html' %}
{% block title %}Projects{% endblock title %}
{% block body_id %}projects{% endblock %}
{% block content %}

<div id="main-title">
	<div class="alert alert-info" align="Center"><h4>Projects</h4></div>
</div>

<div class="top_section">
	<a class="btn btn-info" href="{% url 'create_project' %}"> New Project </a>
</div>
{% if projects.count == 0 %}
	<p class="error_message"> No Projects </p>
{% else %}
	<table class="table table-striped">
		<tr>
			<th> Project Name </th> 
			<th> Start Date</th> 
			<th> End Date</th> 
			<th> Budget Amount</th> 
			<!-- <th> Barcode </th>  -->
			<!-- <th> Tax </th> -->
			<th> &nbsp;</th> 
		</tr>
		
		{% for project in projects %}
		 	<tr>
		 		<td> {{project.name}} </td>
		 		<td> {{project.start_date|date:"d/m/Y"}} </td>
		 		<td> {{ project.expected_end_date|date:"d/m/Y" }} </td>
		 		<td> {{ project.budget_amount }} </td>
		 		<!-- <td> {{project.barcode}} </td> -->
		 		<!-- <td> {{item.tax}} </td> -->

		 		<td> 
		 			<a href="{% url 'create_project' %}?project_id={{project.id}}">
						<img src="/static/images/edit.png">
					</a>
					
				 </td>

		 	</tr>
		{% endfor %}
	</table>
{% endif %}


{% endblock content %}
